.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  margin-bottom: 24px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.section--landing {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
html {
  background: #fff;
  font-size: 87.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: -22px;
  width: 100%;
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  color: #000;
}
.block {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  background-color: #fff;
  position: relative;
}
.block__body {
  padding: 24px;
  background-color: #fff;
  position: relative;
}
.block__title {
  background-color: #fff;
  padding: 24px;
  font-size: 28px;
  font-weight: bold;
  color: #dbd879;
  border-bottom: 1px solid #bfbfbf;
}
.btn {
  display: inline-block;
  width: auto;
  line-height: 2.5;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #ea83ee;
  cursor: pointer;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2.2em;
  padding-left: 2.2em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
  transition: all 0.2s ease-in;
  border: none;
/**
    * Secondary buttons
    */
/**
    * Disabled button
    */
/**
    * Error button
    */
/**
    * Warning button
    */
/**
    * Warning button
    */
}
.btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ea83ee;
  cursor: pointer;
}
.btn:active,
.btn:focus {
  outline: none;
}
.btn.btn--secondary {
  background-color: #fff;
  color: #ea83ee;
}
.btn.btn--secondary:hover {
  background-color: #ea83ee;
  color: #fff;
}
.btn.btn--disabled {
  cursor: not-allowed;
  background-color: #808080;
  color: #fff;
  border-color: #808080;
}
.btn.btn--disabled:visited {
  background-color: #808080;
  color: #808080;
}
.btn.btn--disabled:hover {
  cursor: not-allowed;
  color: #fff;
  background-color: #808080;
  border-color: #676767;
}
.btn .btn--error,
.btn .btn--error:visited {
  color: #da4f49;
  border-color: #d3d3d3;
}
.btn .btn--error:hover,
.btn .btn--error:visited:hover {
  background-color: #da4f49;
  color: #fff;
}
.btn .btn--info,
.btn .btn--info:visited {
  color: #ea83ee;
  border-color: #ea83ee;
}
.btn .btn--info:hover,
.btn .btn--info:visited:hover {
  background-color: #ea83ee;
  color: #fff;
}
.btn .btn--warning,
.btn .btn--warning:visited {
  color: color-warning;
  border-color: #d3d3d3;
}
.btn .btn--warning:hover,
.btn .btn--warning:visited:hover {
  background-color: color-warning;
  color: #fff;
  border-color: #fff;
}
