html 
	background : color-background
	font-size : 87.5%
	-webkit-overflow-scrolling : touch
	-webkit-tap-highlight-color : transparent
	-webkit-text-size-adjust : 100%
	-ms-text-size-adjust : 100%


body 
	margin : 0
	padding : mixin-padding-small(2px)
	width : 100%
	background-color : transparent
	font-family : basefont
	line-height : lineheight
	color : textcolor
