.btn 
    display: inline-block
    width: auto
    line-height: 2.5
    color: buttoncolor
    text-align: center
    vertical-align: middle
    white-space: nowrap
    background-color: buttonbackground
    cursor: pointer
    margin-left: 0
    margin-top: 0
    margin-right: 0
    margin-bottom: 0
    padding-top:   0
    padding-bottom:0
    padding-right: 2.2em
    padding-left: 2.2em
    text-transform: uppercase
    text-decoration: none
    font-size: basefontsize
    font-weight: bold
    letter-spacing: .05em
    border-radius: 0
    transition: all .2s ease-in
    border: none
    &:hover 
        text-decoration: none
        color: white
        background-color: color-brand
        cursor: pointer
    
    &:active,
    &:focus  
        outline:none 

    /**
    * Secondary buttons
    */
    &.btn--secondary 
        background-color: white;
        color: color-brand;
        &:hover 
            background-color: color-brand;
            color: white;
    /**
    * Disabled button
    */
    &.btn--disabled 
        cursor: not-allowed;
        background-color: grey;
        color: white;
        border-color: grey;
        &:visited 
            background-color: grey;
            color: grey;
        
        &:hover 
            cursor: not-allowed;
            color: white;
            background-color: grey;
            border-color: darken(grey, 10);
        
    
    /**
    * Error button
    */
    .btn--error, .btn--error:visited 
        color: color-error;
        border-color: lightgrey;
        &:hover 
            background-color: color-error;
            color: white;
        
    
    /**
    * Warning button
    */
    .btn--info, .btn--info:visited 
        color: color-brand;
        border-color: color-brand;
        &:hover 
            background-color: color-brand;
            color: white;
        
    

    /**
    * Warning button
    */
    .btn--warning, .btn--warning:visited 
        color: color-warning;
        border-color: lightgrey;
        &:hover 
            background-color: color-warning;
            color: white;
            border-color: white;